.App {
  text-align: center;
  /* background-color: rgb(11, 11, 112); */
}

.complete{
  text-decoration: line-through;
  color: rgb(104, 101, 101);
  margin-top: 25px;
}

.header{
  /* border: 1px solid red; */
  height: 150px;
  width: 250px;
  margin: auto;
  color: rgb(11, 11, 112);
}

.inputdata{
  height: 35px;
  width: 250px;
  border-radius: 8px;
}

.inputbttn{
  height: 40px;
  width: 40px;
  margin-left: 10px;
  color: rgb(11, 11, 112);
  font-family: sans-serif;
  font-weight: bold;
  background-color: aqua;
  border: 0;
  border-radius: 8px;
}

.list{
  margin-top: 25px;
}

.bttn{
  background-color: aqua;
  color: rgb(11, 11, 112);
  border: 0;
  border-radius: 5px;
  height: 20px;
  margin-left: 5px;
}
